 <launch>

    <include file="$(find create_rtabmap)/launch/create_rtabmap.launch">
        <arg name="rtabmap_args" value="--delete_db_on_start"/>
        <arg name="rtabmapviz" value="false"/>
        <arg name="rviz" value="false"/>
        <arg name="localization" value="false"/>
    </include>

</launch>