<?xml version="1.0"?>
<launch>
  <arg name="config" default="$(find ca_driver)/config/default.yaml" />
  <arg name="desc" default="true" />

  <node name="ca_driver" pkg="ca_driver" type="ca_driver" output="screen">
    <rosparam command="load" file="$(arg config)" />
    <param name="robot_model" value="CREATE_2" />
    <remap from="odom" to="odom_wheels"/>
  </node>

  <node pkg="create_motion" type="create_fix_odom.py" name="create_fix_odom" />

  <!-- Robot description -->
  <include if="$(arg desc)" file="$(find create_description)/launch/create_xl.launch" />

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="footprint_to_base" args="0.0 0.0 0.0 0.0 0.0 0.0 base_footprint base_link" /> -->
  
</launch>
