<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>

  <!-- move_base -->
  <include file="$(find create_navigation)/launch/move_base.launch">
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find create_rviz)/config/rviz_navigation.rviz"/>
  </group>
</launch>