<?xml version="1.0" ?>
<robot name="create_xl" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- <xacro:include  -->
  <xacro:include filename="$(find create_description)/urdf/create_xl_base.urdf.xacro" />
  <xacro:include filename="$(find create_description)/urdf/create_xl_gazebo.urdf.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_t265.urdf.xacro" />
  
  <!-- <xacro: -->
  <xacro:macro name="robot">
    <xacro:create_base wheel_separation="0.235" base_diameter="0.3485">
      <mesh filename="package://create_description/meshes/create_xl.stl" scale="0.001 0.001 0.001"/>
    </xacro:create_base>

    <xacro:sensor_d435 name="camera" topics_ns="camera" parent="base_link" publish_pointcloud="true">
      <origin xyz="0.0105 0.0 0.408" rpy="0.0 0.0 0.0" />
    </xacro:sensor_d435> 

    <xacro:sensor_t265 name="cam_T" topics_ns="cam_T" parent="base_link">
      <origin xyz="0.14273 0.0091 0.5815" rpy="0 0 0"/>
    </xacro:sensor_t265>
  </xacro:macro>
  
  <xacro:robot/>
  
</robot>
